* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.68em;
  font-size: 100%;
  position: relative; 
  padding-top: 0;
}

.header {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 110px;
  top: 0;
  padding: 2em;
  transition: margin-top 250ms ease-in-out;
  background: rgba(0, 0, 0, 0.281);
}

.menu-btn {
  display: none;
}

.main-logo-link {
  text-decoration: none;
}

em {
  font-size: 1.5em;
  padding: 0 5px 0 5px;
}

#diamond {
  height:auto; 
  width:200px;
}

.main-logo-link2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.75em;
  padding-top: 0.5em;
}

.main-logo {
  display: flex;
  flex-direction: row;
  position: relative;
  font-weight: normal;
  float: left;
  margin: 0px;
  Font-family: Arial;
  text-decoration: none;
}

.site-nav {
  position: relative;
  float: right;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  margin-top:2em;
  overflow:auto;
  z-index: 3;
}

ul {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  height: 30px;
  margin-top: 0;
  float: Right;
}

i {
  padding: 0.5em;
}

i:hover {
  color: rgb(250, 110, 2);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

li {
  float: left;
  margin-right: 0px;
  border-right: 1px solid 
rgb(255, 255, 255);
  padding: 0 10px;
  font-size: 10px;
}

li:last-child {
  border-right:none;
}

li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font: 14px/1 sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  color: rgb(250, 110, 2);
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: rgb(250, 110, 2);
}

.w3c-link {
  border:0;
  width:88px;
  height:31px;
}

.site-footer {
  background: #191919;
  color: #fff;
  width: 100%;
  height: 200px;
}

.wrap {
  width: 100%;
}

.site-footer-content {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  height:300px;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

ol.social-media-list {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

li.social-media-icon {
  border-right: none;
}

nav.footer-nav, h5 {
  display: flex;
  position: relative;
  background: rgba(0, 0, 0, 0.466);
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 0 14px ;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

ol.nav-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

li.nav-list-items {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}


/* This section of code was adopted from Liz's codepen example @ https://codepen.io/lizcoultersmith/pen/bYZEEB */

.form-title {
  margin-top: 0;
}

.form-group {
  margin-bottom: 0.5em;
}

textarea {
  width: 96%;
  resize: none;
}

fieldset {
  width: inherit;
}
.option-list {
  display: inline-block;
}

button {
  width: 50px;
}

@media  only screen and (max-width: 1450px) {

  .Address {
    padding-bottom: 1.5em;
    width: 50%;
    text-align: left;
    padding-left: 3em;
  }
}

@media (min-width: 1250px) {

  .landing-page {
    height: 1000px;
    background-image: url(../images/validation.jpg);
    background-size: cover;
    background-position: top;
  }

  h1 {
    top: 90px;
    margin-top: -1.4em;
    font-size: 6em;
  }

  .container {
    display:flex;
    flex-direction: column;
    width:100%;
    position:relative;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    height: 910px;
    margin-top: -890px;
    color:rgb(255, 255, 255);
    background: linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
  }

  .text-container {
    display: flex;
    height: auto;
    width: 100%;
    padding-left: 1em;
    background-color: rgba(250, 109, 2, 0.541);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    padding: 3em;
  }

  h2 {
    color: rgb(255, 255, 255);
    font-size: 5em;
    line-height: 1.2em;
    width: 60%;
  }

  .subheading {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    line-height: 1.2em;
    width: 90%;
    padding-top: 1em;
    text-align: left;
  }

  .subheading :last-child {
    padding: 2em;
  }

  .w3c-link {
    border:0;
    width:100px;
    height:auto;
  }

  .content {
    height: 3000px;
    background-image: url(../images/colourhex2.jpg);
    background-size: cover;
    background-position: center;
  }

  .container2 {
    height: 600px;
  }

  .section1_container {
    display: flex;
    width: 33%;
    float: left;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;
  }

  .picture-container1 {
    display: flex;
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 2em;
    align-content: center;
    justify-content: center;
    background: rgba(250, 109, 2, 0.815);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .text-container1 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 1em;
    background: rgba(250, 109, 2, 0.815);
    color: rgb(255, 255, 255);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  h4 {
    width: 100%;
    margin:0;
    padding-bottom: 1em;
    align-self: auto;
    text-align: center;
    font-size: 2em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
  }
    
  p {
    width: 100%;
    line-height: 1em;
    padding-top: 1em;
    margin:0;
    align-self: auto;
    text-align: center;
    font-size: 1.75em;
  }

  .section2_container {
    display: flex;
    width: 33%;
    float: left;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;
  }

  .picture-container2 {
    display: flex;
    width: 50%;
    margin: 0 25% 0 25%;
    padding:2em;
    align-content: center;
    justify-content: center;
    background: rgba(49, 49, 49, 0.815);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .text-container2 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 1em;
    background-color: rgba(49, 49, 49, 0.815);
    color: rgb(255, 255, 255);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .section3_container {
    display: flex;
    width: 33%;
    float: left;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;
  }

  .picture-container3 {
    display: flex;
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 2em;
    align-content: center;
    justify-content: center;
    background: rgba(2, 151, 250, 0.815);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .text-container3 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 1em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  
  .section4_container {
    display: flex;
    width: 50%;
    float: left;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;
  }

  .picture-container4 {
    display: flex;
    width: 33%;
    margin: 0 19% 0 48%;
    padding: 2em;
    align-content: center;
    justify-content: center;
    background: rgba(2, 151, 250, 0.815);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .text-container4 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    margin: 0 19% 0 48%;
    padding: 1em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .section5_container {
    display: flex;
    width: 50%;
    float: left;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;
  }

  .picture-container5 {
    display: flex;
    width: 33%;
    margin: 0em 48% 0 19%;
    align-content: center;
    justify-content: center;
    background: rgba(250, 109, 2, 0.815);
    padding: 2em;
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .text-container5 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    margin: 0 48% 0 19%;
    padding: 1em;
    background-color: rgba(250, 109, 2, 0.815);
    color: rgb(255, 255, 255);
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  .picture-container {
    display: flex;
    margin:0 5px 0 5px;
    width: 80%;
    margin-right: 20%;
    justify-content: flex-end;
    margin-top: 40em;
    margin-bottom: -40em;
    z-index: 1;
  }

  .pic {
    height: 425px;
    width: 400px;
  }

  .reflection-section {
    display: flex;
    height: auto;
    width: 50%;
    margin: 30em 25% 4em 25%;
    padding-left: 1em;
    background-color: rgba(250, 109, 2, 0.815);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    box-shadow: 25px 25px 25px rgba(82, 82, 82, 0.342);
  }

  h3 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    width: 60%;
  }

  .h3 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    padding-bottom: 1em;
    width: 55%;
    text-align: left;
  }

  .subheading2 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 1.2em;
    width: 90%;
    text-align: left;
  }

  .Contact-form {
    Height: auto;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background: #191919;
  }

  /* This section of code was adopted from Liz's codepen example for a form type @ https://codepen.io/lizcoultersmith/pen/bYZEEB */
  form {
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    padding: 1em;
    width: 40%;
    min-width: 15em;
    max-width: 26.5em;
    margin-right: 1em;
    height: auto;
  }

  .Details {
    Height: auto;
    width: 50%;
    justify-content: center;
    float: left;
    flex-direction: column;
    display: flex;
  }
  
  .Address-title {
    width: 50%;
    padding-bottom: 0.75em;
    background: none;
  }
  
  .Address {
    padding-bottom: 1.5em;
    width: 50%;
    text-align: left;
    padding-left: 1em;
  }
  
  #map {
    height: 150px;
    width: 50%;
    margin: 2em;
  }
}

@media (max-width: 1250px)
{
  .landing-page {
    height: 1000px;
    background-image: url(../images/validation.jpg);
    background-size: cover;
    background-position: center;
  }

  .site-nav {
    display: flex;
    position: relative;
    Right:0;
    flex-direction: column;
    height: 425px;
    justify-content: center;
    margin-top:0;
    padding-top: 0.75em;
    overflow:auto;
    font-size: 14px;
  }
    
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 600px;
    text-decoration: none;
    list-style-type: none;
    float: Right;
  }
  
  .header li a {
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  
  .header li a:hover {
    background-color: rgba(0, 0, 0, 0.747)
  }
  
  .header .main-logo {
    display: block;
    float: left;
    text-decoration: none;
  }
  
  .header .site-nav {
    clear: both;
    max-height: 0;
    float: right;
    transition: .2s ease-out;
  }
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 30px 24px;
    margin-top: 1em;
    position: relative;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.747);
  }
  
  /*This section is for the 'mystery meat' bars*/
  .header .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
    
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .site-nav {
    max-height: 450px;
    background-color: rgba(0, 0, 0, 0.747);
  }
  
  .menu-btn:checked ~ li {
    border-right:none;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
  }

  h1 {
    top: 90px;
    margin-top: -1.4em;
    font-size: 6em;
  }

  .container {
    display:flex;
    flex-direction: column;
    width:100%;
    position:relative;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    height: 910px;
    margin-top: -890px;
    color:rgb(255, 255, 255);
    background: linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
  }

  .text-container {
    display: flex;
    height: auto;
    width: 100%;
    padding-left: 1em;
    background-color: rgba(250, 109, 2, 0.541);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(82, 82, 82, 0.342);
  }

  h2 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    width: 60%;
  }

  .subheading {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 1.2em;
    width: 90%;
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .w3c-link {
    border:0;
    width:250px;
    height:auto;
  }
  
  .section1_container {
    display: flex;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 4em;
    padding-bottom: 0em;
    box-shadow: 20px 20px 20px rgba(82, 82, 82, 0.527);
  }

  .picture-container1 {
    margin-top: 8em;
    margin-bottom: -12em;
    z-index: 1;
  }

  .Picture1 {
    width: 600px;
    height: 300px;
    position: relative;
    align-self: auto;
    box-shadow: 20px 20px 20px rgba(82, 82, 82, 0.527);
  }

  .text-container1 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
  }

  h4 {
    width: 100%;
    margin:0;
    padding-bottom: 1em;
    align-self: auto;
    text-align: center;
    font-size: 4em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
  }
    
  p {
    width: 100%;
    line-height: 1em;
    padding-top: 1em;
    margin:0;
    align-self: auto;
    text-align: left;
    font-size: 2.25em;
  }

  .section2_container {
    display: flex;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    box-shadow: 20px 20px 20px rgba(82, 82, 82, 0.527);
  }

  .picture-container2 {
    margin-top: 8em;
    margin-bottom: -12em;
    z-index: 1;
  }

  .Picture2 {
    width: 600px;
    height: auto;
    position: relative;
    align-self: auto;
    box-shadow: 20px 20px 20px rgba(82, 82, 82, 0.527);
  }

  .text-container2 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(49, 49, 49, 0.815);
    color: rgb(255, 255, 255);
  }

  .section3_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
    margin-bottom: 4em; 
    box-shadow: 20px 20px 20px rgba(82, 82, 82, 0.527);
  }

  .picture-container3 {
    margin-top: 8em;
    margin-bottom: -12em;
    z-index: 1;
  }

  .Picture3 {
    width: 600px;
    height: auto;
    position: relative;
    align-self: auto;
    box-shadow: 20px 20px 20px rgba(82, 82, 82, 0.527);
  }

  .text-container3 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(250, 109, 2, 0.815);
    color: rgb(255, 255, 255);
  }

  .section4_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container4 {
    margin-bottom: -10em;
    margin-top: 8em;
    z-index: 1;
  }

  .Picture4 {
    width: 250px;
    height: auto;
    position: relative;
    align-self: auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .text-container4 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
  }

  .section5_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container5 {
    margin-bottom: -10em;
    margin-top: 8em;
    z-index: 1;
  }

  .Picture5 {
    width: 250px;
    height: auto;
    position: relative;
    align-self: auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .text-container5 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(49, 49, 49, 0.815);
    color: rgb(255, 255, 255);
  }

  .picture-container {
    display: flex;
    margin:0 5px 0 5px;
    width: 95%;
    margin-right: 5%;
    justify-content: flex-end;
    margin-bottom: -325px;
    z-index: 1;
  }

  .pic {
    height: 375px;
    width: 350px;
  }
  .reflection-section {
    display: flex;
    height: auto;
    width: 85%;
    margin: 10em 7.5% 0em 7.5%;
    padding-left: 1em;
    padding-bottom: 3em;
    background-color: rgba(250, 109, 2, 0.815);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  h3 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    width: 60%;
  }

  .h3 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    padding-bottom: 1em;
    width: 55%;
  }

  .subheading2 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 1.2em;
    width: 90%;
    padding-bottom: 1em;
  }

  .Contact-form {
    Height: auto;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background: #191919;
  }

  /* This section of code was adopted from Liz's codepen example for a form type @ https://codepen.io/lizcoultersmith/pen/bYZEEB */
  form {
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    padding: 1em;
    width: 40%;
    min-width: 15em;
    max-width: 26.5em;
    margin-right: 1em;
    height: auto;
  }

  .Details {
    Height: auto;
    width: 50%;
    justify-content: center;
    float: left;
    flex-direction: column;
    display: flex;
  }
  
  .Address-title {
    padding-bottom: 0.75em;
    background: none;
  }
  
  .Address {
    padding-bottom: 1.5em;
    width: 100%;
    text-align: left;
    padding-left: 1em;
  }
  
  #map {
    height: 150px;
    width: 90%;
    margin: 2em;
  }
}
  
@media only screen
and (min-width: 414px)
and (max-width: 1250px)
{
  .landing-page {
    height: 1000px;
    background-image: url(../images/validation.jpg);
    background-size: cover;
    background-position: center;
  }

  body {
    font-size: 80%;
  }

  h1 {
    top: 90px;
    margin-top: -2em;
    font-size: 4em;
    text-transform: uppercase;
  }

  .container {
    display:flex;
    flex-direction: column;
    width:100%;
    position:relative;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    height: 910px;
    margin-top: -890px;
    color:rgb(255, 255, 255);
    background: linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
  }

  .text-container {
    display: flex;
    height: auto;
    width: 100%;
    padding-left: 2em;
    padding-top: 2em;
    background-color: rgba(250, 109, 2, 0.541);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(82, 82, 82, 0.342);
  }

  h2 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    width: 60%;
  }

  .subheading {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 1.2em;
    width: 90%;
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .w3c-link {
    border:0;
    width:150px;
    height:auto;
  }

  .content {
    height: 4000px;
    background-image: url(../images/colourhex2.jpg);
    background-repeat:repeat-y;
    background-size: cover;
    background-position: center;
  }

  .section1_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 4em;
    padding-bottom: 0em;
    box-shadow: 10px 10px 20px rgba(82, 82, 82, 0.342);
  }

  .picture-container1 {
    margin-top: 8em;
    margin-bottom: -12em;
    z-index: 1;
  }

  .text-container1 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
  }

  h4 {
    width: 100%;
    margin:0;
    padding-bottom: 1em;
    align-self: auto;
    text-align: center;
    font-size: 4em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
  }
    
  p {
    width: 100%;
    line-height: 1.6em;
    margin:0;
    align-self: auto;
    text-align: left;
    font-size: 2em;
  }

  .section2_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container2 {
    margin-bottom: -12em;
    z-index: 1;
  }

  .text-container2 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(49, 49, 49, 0.815);
    color: rgb(255, 255, 255);
  }

  .section3_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container3 {
    margin-bottom: -12em;
    z-index: 1;
  }

  .text-container3 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(250, 109, 2, 0.815);
    color: rgb(255, 255, 255);
  }

  .section4_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container4 {
    margin-bottom: -10em;
    margin-top: 8em;
    z-index: 1;
  }

  .text-container4 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
  }

  .section5_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container5 {
    margin-bottom: -10em;
    margin-top: 8em;
    z-index: 1;
  }

  .text-container5 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(49, 49, 49, 0.815);
    color: rgb(255, 255, 255);
  }

  .picture-container {
    display: flex;
    margin:0 5px 0 5px;
    width: 95%;
    margin-right: 5%;
    justify-content: flex-end;
    margin-bottom: -250px;
    z-index: 1;
  }

  .pic {
    height: 325px;
    width: 300px;
  }

  .reflection-section {
    display: flex;
    height: auto;
    width: 85%;
    margin: 10em 7.5% 0em 7.5%;
    padding-left: 1em;
    padding-bottom: 3em;
    background-color: rgba(250, 109, 2, 0.815);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  h3 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    width: 60%;
  }

  .h3 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    padding-bottom: 1em;
    width: 55%;
  }

  .subheading2 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 1.2em;
    width: 90%;
    padding-bottom: 1em;
  }

  .Contact-form {
    Height: auto;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background: #191919;
  }

  /* This section of code was adopted from Liz's codepen example for a form type @ https://codepen.io/lizcoultersmith/pen/bYZEEB */
  form {
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    padding: 1em;
    width: 40%;
    min-width: 15em;
    max-width: 26.5em;
    margin-right: 1em;
    height: auto;
  }

  .Details {
    Height: auto;
    width: 50%;
    justify-content: center;
    float: left;
    flex-direction: column;
    display: flex;
    background: #191919;
  }

  #map {
    height: 150px;
    width: 80%;
    margin: 2em;
  }

}
  
@media (min-width: 320px) and (max-width: 414px){
  
  .landing-page {
    height: 600px;
    background-image: url(../images/validation.jpg);
    background-size: cover;
    background-position: center;
  }

  body {
    font-size: 50%;
  }

  .container {
    display:flex;
    flex-direction: column;
    width:100%;
    position:relative;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    height: 510px;
    margin-top: -490px;
    color:rgb(255, 255, 255);
    background: linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
  }

  h1 {
    top: 90px;
    margin-top: -1.8em;
    font-size: 4.25em;
    text-transform: uppercase;
  }

  .text-container {
    display: flex;
    height: auto;
    width: 100%;
    padding-left: 1em;
    background-color: rgba(250, 109, 2, 0.541);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  h2 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    width: 100%;
  }

  .subheading {
    color: rgb(255, 255, 255);
    font-size: 1.25em;
    line-height: 1.2em;
    width: 90%;
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .w3c-link {
    border:0;
    width:100px;
    height:auto;
  }

  .content {
    height: 3000px;
    background-image: url(../images/colourhex2.jpg);
    background-repeat:repeat-y;
    background-size: cover;
    background-position: center;
  }

.section1_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 4em;
    padding-top: 3em;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
    overflow:auto;
}

  .picture-container1 {
    margin-top: 8em;
    margin-bottom: -10em;
    z-index: 1;
  }

  .text-container1 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
  }

  h4 {
    width: 100%;
    margin:0;
    align-self: auto;
    text-align: center;
    font-size: 4em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
  }
    
  p {
    width: 100%;
    Padding-top: 1em;
    align-self: auto;
    text-align: left;
    font-size: 2em;
    line-height: 1em;
  }

  .section2_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container2 {
    margin-bottom: -10em;
    z-index: 1;
  }

  .text-container2 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(49, 49, 49, 0.815);
    color: rgb(255, 255, 255);
  }

  .section3_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container3 {
    margin-bottom: -10em;
    z-index: 1;
  }

  .text-container3 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(250, 109, 2, 0.815);
    color: rgb(255, 255, 255);
  }

  .section4_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container4 {
    margin-bottom: -10em;
    margin-top: 8em;
    z-index: 1;
  }

  .text-container4 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(2, 151, 250, 0.815);
    color: rgb(255, 255, 255);
  }

  .section5_container {
    display: flex;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 4em;
    padding-bottom: 0em;
    overflow:auto;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  .picture-container5 {
    margin-bottom: -10em;
    margin-top: 8em;
    z-index: 1;
  }

  .text-container5 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 15em 4em 3em 4em;
    background-color: rgba(49, 49, 49, 0.815);
    color: rgb(255, 255, 255);
  }

  .picture-container {
    display: flex;
    margin:0 5px 0 5px;
    width: 95%;
    margin-right: 5%;
    justify-content: flex-end;
    margin-bottom: -175px;
    z-index: 1;
  }

  .pic {
    height: 175px;
    width: 150px;
  }

  .reflection-section {
    display: flex;
    height: auto;
    width: 85%;
    margin: 10em 7.5% 4em 7.5%;
    padding-left: 1em;
    background-color: rgba(250, 109, 2, 0.815);
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(82, 82, 82, 0.342);
  }

  h3 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    width: 60%;
  }

  .h3 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 1.2em;
    padding-bottom: 1em;
    width: 55%;
  }

  .subheading2 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 1.2em;
    width: 90%;
    padding-bottom: 1em;
  }

  .Contact-form {
    display: flex;
    flex-direction: column;
    Height: auto;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background: #191919;
  }

  /* This section of code was adopted from Liz's codepen example for a form type @ https://codepen.io/lizcoultersmith/pen/bYZEEB */
  form {
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    padding: 1em;
    width: 100%;
    min-width: 15em;
    max-width: 26.5em;
    margin-right: 1em;
    margin-top: 1em;
    height: auto;
  }
  
  .Details {
    Height: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: #191919;
    padding-top: 2em;
  }

  #map {
    height: 150px;
    width: 80%;
    margin: 2em;
  }
}